<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div>
      <h3>EXPLORE THE GALAXY, ONE COCKTAIL AT A TIME</h3>
      <img src="images/space_bar.jpg" alt="space bar">
    </div>
    <div>
      <img src="images/facebook_logo.png" alt="facebook logo">
      <h3>/SPACEBAR</h3>
      <img src="images/twitter_logo.png" alt="twitter logo">
      <h3>@SPACEBAR</h3>
      <img src="images/instagram_logo.png" alt="instagram logo">
      <h3>#SPACEBAR</h3>
    </div>
  </header>
  <section class="Filter">
    <div>
      <input type="text" placeholder="Search">
      <button>Search</button>
    </div>
    <div>
      <button>New</button>
      <button>Popular</button>
      <button>Cocktails</button>
      <button>Beer</button>
      <button>Wine</button>
      <button>Liquor</button>
      <button>Budget</button>
    </div>
  </section>
  <section class="results">
    <div>
      <img src="/images/drinks/naboo_nectar.png" alt="naboo nectar">
      <h2>Naboo Nectar</h2>
      <h2>$10.99</h2>
      <p>A delicate, floral and fruity cocktail that celebrates the lush, idyllic planet of Naboo</p>
      <button>View</button>
    </div>
  </section>
</body>
</html>